*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section_1{
    background: url(../img/main_bg_1_container.jpg) center center/cover no-repeat ;
    min-height: 800px;
    padding: 38px 0 61px 0;
}
.content{
    width: 1140px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}
.section_1 .content .logo .logo_img{
    display: block;
    margin: 0 auto;
}
.section_1 .content .logo .logo_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 9.5px;
}
.section_1 .content .main_text_h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
    margin-top: 53px;
}
.section_1 .content .section_1_h2_text_1{
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    margin-top: 12.5px;
}
.section_1 .content .section_1_h2_text_2{
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    margin-top: 12.5px;
}
.section_1 .content .main_descritpion{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    margin-top: 20.5px;
}
.section_1 .content .main_descritpion .span_free{
    color: #F9BF3B;
    font-weight: 700;
    text-transform: uppercase;
}
.button_main{
    display: block;
    margin: 0 auto;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
    margin-top: 70px;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}
.section_1 .content .moree .moree_text{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    margin-top: 60px;
}
.section_1 .content .moree .moree_img{
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}


.section_2{
    background: #EFEFEF center center/cover no-repeat ;
    min-height: 610px;
    padding: 88px 0 0 0;
}

.section_2 .content .h2_second_section, .section_4 .content .h2_second_section{
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}
.section_2 .content .break, .section_4 .content .break{
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}
.section_2 .content .h3_second_section{
    text-align: center;
    color: #4A4A4A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    margin-top: 18px;
}
.section_2 .content .flex_wrapper, .section_4 .content .flex_wrapper{
    margin-top: 45.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section_2 .content .flex_wrapper .flex_section{
    width: 342px;
}
.section_2 .content .flex_wrapper .flex_section .flex_text{
    margin-top: 26px;
    text-align: center;
    color: #4A4A4A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 21px;
}      
.section_2 .content .flex_wrapper .flex_section .flex_img{
    width: 100%;
}
.section_3{
    min-height: 550px;
    padding: 108px 0 74px 0;
}
.section_3 .content{
    position: relative;
}
.section_3 .content .section_3_text{
    width: 750px;
    margin-left: 379px;
    
}
.section_3 .content .section_3_text h2{
    align-items: center;
    text-transform: uppercase;
    color: #299CBD;
    font-size: 30px;
    font-family: 'Roboto';
    font-style: normal;
}
.section_3 .content .section_3_text .optimization_text{
    color: #4A4A4A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    /* padding-bottom: 80px; */
}
.section_3 .content .section_3_text .optimization_text span{
    font-weight: 700;
}
.section_3 .content img{
    position: absolute;
    z-index: -1;
    left: -240px;
    top: -50px;
}
.section_4{
background: url(../img/second_bg_4_container.jpg) center center/cover no-repeat;
min-height: 450px;
padding: 68px 0 68.5px 0;
}
.section_4 .content .h2_second_section{
    color: #EFEFEF;
}
/* .section_4 .content .flex_wrapper{
    margin-top: 39px;
} */